.fundoLogin {
    background-image: url(../../assets/login.jpg);
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.fundoLogin2 {
    background-image: url(../../assets/login2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

video{
    width: 100%;
    object-fit: cover;
}

.cardForm {
    width: 200px;
    background-color: black;
}

/* @media screen and (min-width: 360px) and (max-width: 766px) {
    .cardForm {
        width: 900px;
        background-color: black;
    }
} */

.cardForm {
    width: 900px;
    background-color: black;
}