.fundoPage{
    background-image: url(../../assets/ceuEstrelado2.jpg);
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}
